{% load static %}
<section id="about">
    <div class="content">
        <div class="details">
            <h2>O que é?</h2>
            <h3>Um Hackathon de Alunos, para Alunos</h3>
            <p>Junte-se a centenas de outros <i>hackers</i> de diversas universidades brasileiras para uma incrível maratona de 48 horas de programação e empreendedorismo!</p>
            <p>Nós forneceremos mentoria, comida, bebida, acessórios, workshops e vários mini-games -- tudo que você precisará para criar algo excelente -- sem esperar nada em troca!</p>
            <h3>Local</h3>
            <p>Unicamp - uma das maiores universidades de tecnologia do Brasil, dentro do Vale do Silício brasileiro!</p>
            <h3>Estamos aqui por você <3</h3>
            <p>InterHack é organizada por um comitê de estudantes de diversas universidades e vamos fazer o possível para garantir que <b>todos</b> tenham uma experiência fantástica.</p>
        </div>
        <div class="side-image">
            <img src="{% static 'main/img/parque.jpg' %}" width="80%" height="auto" alt="Parque Científico">
        </div>
    </div>
</section>
