<section id="faq">
    <div class="content">
        <h2>FAQ</h2>
        <div class="question">
            <h3>O que é o InterHack</h3>
            <p>InterHack é o primeiro hackathon interuniversitário do Brasil organizado por estudantes. Terá duração de 48 horas e nossos desafios serão feitos com o objetivo de serem acessíveis (e desafiadores) para <i>hackers</i> de todos os níveis de experiência.
        </div>
        <div class="question">
            <h3>Calma, o que é um "hackathon"?</h3>
            <p>Não se preocupe, hackathons são completamente legais e não envolvem hackear ou burlar nenhum sistema! São apenas eventos para inventores, curiosos e programadores, onde pessoas como você criam e inovam!<br>
            Assim que as 48 horas acabam, você terá a oportunidade de apresentar sua invenção para seus colegas, juízes e recrutadores de empresas; e nós teremos fantásticos prêmios para os projetos mais interessantes!</p>
        </div>
        <div class="question">
            <h3>Mas e se eu não souber programar?</h3>
            <p>Nós queremos que você venha da mesma forma! Independente do nível técnico que você acredita ter, nós temos certeza que você será capaz de contribuir muito para o seu time! Nós também teremos mentores e guias no evento que te ajudarão a tornar suas ideias em realidade, além de mini-cursos técnicos durante o evento, então, se você sempre quis aprender a programar, ou se quiser saber como essa tecnologia pode ser aplicada no mundo real, essa é a oportunidade perfeita!
            </p>
        </div>
        <div class="question">
            <h3>Eu posso ir?</h3>
            <p>Por enquanto estamos aceitando apenas alunos de graduação da UNICAMP, USP(São Paulo e São Carlos) e da UFSCAR. Se você é aluno de outra universidade e tem interesse em participar, envie um email para o endereço no fim desse FAQ para saber como adicionar sua universidade à lista de participantes!
        </div>
        <div class="question">
            <h3>Onde e quando vai ser?</h3>
            <p>Acontecerá em Agosto na UNICAMP. Mais detalhes serão divulgados nos próximos dias!</p>
        </div>
        <div class="question">
            <h3>Socorro! Eu não tenho um time!</h3>
            <p>Não tem problema! Se junte à quebra de gelo no começo do evento. Lá você poderá falar de suas ideias para outras pessoas ou se juntar a outro time para ajudá-los a criar algo incrível. É uma ótima oportunidade para conhecer pessoas, mas se você for do tipo solitário, será mais que bem-vindo para desenvolver sua ideia por conta própria!</p>
        </div>
        <div class="question">
            <h3>O que eu devo levar?</h3>
            <p>Você deve trazer sua identidade universitária, um laptop, qualquer outro device que você ache que precisará, carregadores e sua criatividade!
            <br>
            <br>
            PS: Você pode também trazer um par de roupas limpas e um travesseiro, caso queira ficar mais confortável.
            </p>
        </div>
        <!-- <div class="question">
            <h3>Calma, eu preciso pagar?</h3>
            <p>De forma alguma! InterHack é absolutamente <strong>grátis</strong>! Nossos fantásticos patrocinadores nos promovem os fundos necessários para disponibilizar energia, acessórios, comida, bebidas e transporte. Assim você não terá que gastar nem um centavo para participar do evento!</p>
        </div> -->
        <div class="question">
            <h3>Gostei! Como me inscrevo?</h3>
            <p>Por enquanto estamos oferecendo pré inscrições como uma maneira de manter você informado(a) de todas as atualizações do evento. Você pode realizar a pré inscrição <a href="#register">aqui</a>!</p>
        </div>
        <!-- <div class="question">
            <h3>Code of Conduct</h3>
            <p>We believe very strongly in creating a safe, welcoming space for our hackers, and we take our code of conduct extremely seriously. You are expected to abide by the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a> at all times so make sure you've read it before the event. (Tl;dr because we know no one really reads the fine print: be nice.)</p>
        </div> -->
        <div class="question last-question">
            <h3>E se eu tiver mais perguntas?</h3>
            <p>Nós ficaremos felizes em responder. Fale conosco por email em <a href="mailto:interhack.contact@gmail.com">interhack.contact@gmail.com</a> ou envie-nos uma mensagem pelo <a href="https://www.facebook.com/InterHackathon/">Facebook</a>.<br>Responderemos o mais rápido possível!
            </div>
        </section>
