<section id="schedule">
    <div class="content">
    <h2>Cronograma</h2>
        <div class="table-container">
            <div class="table-block left">
                <table>
                    <h4>Day 1</h4>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                        <th>Location</th>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>Registration</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <td>11:30</td>
                        <td>Teambuilding Session</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <tr>
                            <td>12:30</td>
                            <td>Lunch</td>
                            <td>Main Area</td>
                        </tr>
                        <td>13:00</td>
                        <td><strong>Hacking Starts</strong></td>
                        <td>Everywhere</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Git Workshop</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td>HTTP &amp; Data Processing in Python</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>Front End Web Designing</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>17:00</td>
                        <td>Rapid Prototyping with Meteor.js</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Dinner</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <td>19:30</td>
                        <td>Introduction to Android/iOS Development</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>00:00</td>
                        <td>Pizza!</td>
                        <td>Main Area</td>
                    </tr>
                </table>
            </div>
            <div class="table-block right">
                <table>
                    <h4>Day 2</h4>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                        <th>Location</th>
                    </tr>
                    <tr>
                        <td>12:30</td>
                        <td>Werewolf</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>Breakfast</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>Introduction to Ruby on Rails</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Deploying to Heroku/AWS/GoogleAppEngine</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>Lunch</td>
                        <td>Main Area</td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td><b>Hacking Ends</b></td>
                        <td>Everywhere</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Team Pitching</td>
                        <td>Lecture Hall E005</td>
                    </tr>
                    <tr>
                        <td>15:15</td>
                        <td>Prize Giving</td>
                        <td>Lecture hall E005</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>End of event</td>
                        <td>Everywhere</td>
                    </tr>
                </table>
            </div>


        </div>

    </div>
</section>
