<section id="sponsors">
    <div class="content">
        <h2>Nossos patrocinadores</h2>
        <p>Interessado em nos patrocinar? <a href="mailto:interhack.contact@gmail.com">Fale conosco</a></p>


        <div class="partners">
            <a href="http://example.com" target="_blank">
                <div class="behave">
                    <img src="images/sponsors/big.svg"/ >
                </div>
            </a>
        </div>
        <div class="cooler_helpers">
            <a href="http://example.com" target="_blank"><img src="images/sponsors/left.svg" class="l"/></a>
            <a href="http://example.com" target="_blank"><img src="images/sponsors/middle.svg" class="m"/></a>
            <a href="http://example.com" target="_blank"><img src="images/sponsors/right.svg" class="r"/></a><br>
        </div>
        <div class="helpers">
            <a href="http://example.com" target="_blank"><img src="images/sponsors/example.svg"/></a>
        </div>
    </div>
</section>
