<section id="sponsors">
    <div class="content">
        <h2>Our Sponsors</h2>
        <p>Interested in Sponsoring? <a href="mailto:contact@durhack.com">Contact Us</a></p>


        <div class="partners">
            <a href="http://durham.gov.uk" target="_blank">
                <div class="behave">
                    <img src="images/sponsors/dcc.svg"/ >
                </div>
            </a>
        </div>
        <div class="cooler_helpers">
            <a href="http://github.com" target="_blank"><img src="images/sponsors/gh.svg" class="l"/></a>
            <a href="http://waterstons.com" target="_blank"><img src="images/sponsors/ws.svg" class="m"/></a>
            <a href="http://mlh.io" target="_blank"><img src="images/sponsors/mlh.svg" class="r"/></a><br>
        </div>
        <div class="helpers">
            <a href="http://barclays.com" target="_blank"><img src="images/sponsors/b.svg"/></a>
            <a href="http://www.sunderlandsoftwarecity.com" target="_blank"><img src="images/sponsors/ssc.svg"/></a>
            <a href="http://microsoft.com" target="_blank"><img src="images/sponsors/ms.svg"/></a>

            <a href="http://www.entrepreneursdurham.com/" target="_blank"><img src="images/sponsors/ed.svg"></a>

            <a href="http://dur.ac.uk" target="_blank"><img src="images/sponsors/du.svg"/></a>
            <a href="http://durhamsu.com" target="_blank"><img src="images/sponsors/dsu.svg"/></a>
            <a href="http://compsoc.io" target="_blank"><img src="images/sponsors/cs.svg"/></a>
        </div>
    </div>
</section>
