<section id="team">
    <div class="content">
        <h2>The Crew</h2>
        <div class="team-container">
            <div class="core">
                <div class="member">
                    <img src="images/squad/fatema.jpg">
                    <span class="name">Fatema</span>
                </div>
                <div class="member">
                    <img src="images/squad/jack.jpg">
                    <span class="name">Jack</span>
                </div>
                <div class="member">
                    <img src="images/squad/james.jpg">
                    <span class="name">James</span>
                </div>
                <div class="member">
                    <img src="images/squad/mitchel.jpg">
                    <span class="name">Mitchel</span>
                </div>
                <div class="member">
                    <img src="images/squad/sara.jpg">
                    <span class="name">Sara</span>
                </div>
                <div class="member">
                    <img src="images/squad/tn.jpg">
                    <span class="name">Thien</span>
                </div>
            </div>
            <p class="helpers">
                Come say 'hi' to us!
            </p>
        </div>
    </div>
</section>
