{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="{% static 'main/img/favicons/favicon-32x32.png' %}"><![endif]-->

    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'main/img/favicons/apple-icon-180x180.png' %}">

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="{% static 'main/img/favicons/android-icon-192x192.png' %}">

    <title>InterHack</title>

    <!-- Load Google Analytics -->
    <script type='text/javascript' src="{% static 'main/js/GA.js' %}"></script>

    <!-- Load Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">

    <!-- Load Grid System -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/grid.css' %}">

    <!-- Load particle background -->
    <!-- <script type='text/javascript' src="{% static 'main/js/particleground.js' %}"></script> -->

</head>

<body>
    <ul id="main-menu">
        <li class="mobile menu-control" onClick="toggleMenu()">
            <svg width="16" height="10">
                <polygon fill="white" points="0,0 16,0 8,10"/>
            </svg>
        </li>
        <li class="menu-item"><a href="#about">Sobre</a></li>
        <li class="menu-item"><a href="#faq">FAQ</a></li>
        <li class="menu-item"><a href="#register">Pré Inscrições</a></li>
    </ul>
    <header id="main-header">
        <div class="header-content-wrapper">
            <img class="logo" src="{% static 'main/img/logo.png' %}">
            <img class="logotext" src="{% static 'main/img/name.png' %}">
            <span class="header-info">
                <b>Hackathon Interuniversitário</b><br>
                Unicamp
            </span>
            <div class="header-info">
                {% if messages %}
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
                {% else %}
                <div class="header-button-wrapper">
                    <a href="#register"> <button href="">Pré Inscrição</button></a>
                </div>
                {% endif %}
            </div>
        </header>

        <!-- Include sections -->
        {% include 'main/sections/about.html' %}
        {% include 'main/sections/faq.html' %}
        {% include 'main/sections/pre_reg.html' %}
        <!-- {% include 'main/sections/location.html' %} -->
        <!-- {% include 'main/sections/schedule.html' %} -->
        <!-- {% include 'main/sections/sponsors.html' %} -->

        <footer id="main-footer">
            Made with &lt;3 &nbsp; - &nbsp;
            <a href="https://github.com/Maronato/interhack">Github</a>
            &nbsp;-&nbsp;<a href="#" onClick="cats()">&#9679;</a>
        </footer>
    </body>

    <!-- Load Google Maps API -->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD70GNb2FLOz3cVO-LpF0Jjk8STZgGZKX0"></script> -->

    <!-- Load the menu scrolly thingy -->
    <script type="text/javascript" src="{% static 'main/js/menu_scroll.js' %}"></script>

    <!-- Make the header all fadey and stuff -->
    <script type="text/javascript" src="{% static 'main/js/fade_header.js' %}"></script>

    <!-- Generate map -->
    <!-- <script type="text/javascript" src="{% static 'main/js/location.js' %}"></script> -->

    <!-- Super important file -->
    <script type="text/javascript" src="{% static 'main/js/cats.js' %}"></script>

    <!-- Make the sponsor's section all cool -->
    <!-- <script type="text/javascript" src="{% static 'main/js/sponsoranimation.js' %}"></script> -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>

    <!-- Add 'other' input if selected -->
    <script type="text/javascript" src="{% static 'main/js/reg_other_show.js' %}"></script>


    </html>
